footer{
  position: relative;
  //sbackground-color: yellow;
  display: table;
  width: 100%;
  height: 120px;
  bottom: 0px;
  justify-content: center;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.8px;
  margin: 50px 0 0 0;
  padding: 10px 0 0 0;
  color: $color3;
  p {
    &.sd {
      font: $fontsize2-en;
      margin-bottom: 13px;
    }
    &.ja {
      font: $fontsize2-ja;
    }
  }
  a{
    text-decoration: none;
    &.sd{
      font: $fontsize2-en;
      &:visited{
        color: $color3;
      }
      &:link{
        color: $color3;
      }
    }
  }
}
