$box_col1: #FF7B7B;
$box_col2: #E80000;

@keyframes fadeIn {
  0% {opacity: 0}
  15% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  15% {opacity: 0}
  100% {opacity: 1}
}

.labview{
  position: relative;
  margin: 0px 0 30px 0;
  display: flex;
  // justify-content: flex-end;

  .left{
    animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;
    width: 70%;
    position: relative;

    .title{
      width: 90%;
      display: flex;
      align-items: flex-start;
      
      .titleText{
        width: 100%;
        text-align: left;
        border-left: solid 6px $box_col2;
        padding-left: 10px;
        margin-bottom: 10px; 
        h2{
          letter-spacing: 0.05em;
          width: 100%;
          margin: -5px 0 0px 0px;
          font: $fontsize7-ja;;
        }
        h3{
          letter-spacing: 0.05em;
          width: 100%;
          margin: -3px 0 15px 3px;
          &.en {
          font: $fontsize5-en;
          }
        }
        h4{
          &.ja {
            font:$fontsize4-ja;
          }
          &.en {
            font: $fontsize3-en-bold;
            margin: 0 0 -1px 2px;
          }
        }
      }
    }
    .viewer{
      position: relative;
      
      width: 90%;
      .slick-list
      {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .slick-track{
          height: 100%;
          .slickContainer{
            position: relative;
            overflow: hidden;
            img{
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
    .viewer:before{
      content:"";
      display: block;
      padding-top: 67%;
    }
    p{
      margin-top: 20px;
      line-height: 2em;
      letter-spacing: 0.05em;
      width: 90%;
      &.info-ja {
        font: $fontsize3-ja;
      }
      &.info-en {
        font: $fontsize3-en;
        letter-spacing: 0.1em;
      }
    }
    h3{
      font: $fontsize5-en;
      margin: 30px 0 30px 0;
    }
    ul{
      width: 100%
    }
    li{
      list-style-type: none;
      line-height: 2em;
    }
    li:first-child{
      font: $fontsize3-ja-italic;
      color: lightgray;
    }
    li:last-child{
      font: $fontsize3-ja;
    }
  }
  .right{
    position: relative;
    width: 200px;
    .boxView{
      width: 200px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .box{
        display:block;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background-color: $box_col2;
        transition: background-color 0.3s ease;
        &:hover{
          cursor: pointer;
          background-color: $box_col1;
        }
      }
      .active{
        background-color: $box_col1;
      }
    }
    h3{
      text-align: right;
      letter-spacing: 0.3em;
      margin-bottom: 10px;
      font: $fontsize5-ja;
    }
    p{
      animation: fadeIn 3s ease 0s 1 normal;
      -webkit-animation: fadeIn 3s ease 0s 1 normal;
      letter-spacing: 0.3em;
      text-align: right;
      line-height: 15pt;
      margin: 0 0 3px 4px;
      font: $fontsize4-ja;
      &:nth-child(odd){
        font: $fontsize3-ja;
        margin-bottom: 10px;
      } 
    }
    .name{
      margin-top: 20px;
      font: $fontsize3-ja;
    }
  }
}

//吹き出し
.tooltip {
	position: relative;
}

.tooltip:hover::after {
	pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
	position: absolute;
	z-index: 9999;
	width: 280px;
  height: 0px;
	right: -60%;
	bottom: 80%;
	font-size: 15pt;
	line-height: 1.2;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: transparent;
	opacity: 0;
	margin: 0 0 20px -150px;
	pointer-events: none;
	-webkit-transition: opacity height 0.3s 0.3s;
	transition: opacity height 0.3s 0.3s;
}

.tooltip:hover .tooltip-content {
	opacity: 1;
  height: auto;
	pointer-events: auto;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.tooltip-content span {
	display: block;
}

.tooltip-text {
	border-bottom: 5px solid $box_col2;
	overflow: hidden;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
  transform-origin: right;
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s;
}

.tooltip:hover .tooltip-text {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.tooltip-inner {
	background: $box_col2;
	padding: 15px 15px 10px 15px;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.tooltip:hover .tooltip-inner {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Arrow */

.tooltip-content::after {
	content: '';
	bottom: -20px;
	left: 90%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: $box_col2;
	border-width: 10px;
	margin-left: -10px;
}
