.sidebar{
  position: fixed;
  left: 0px;
  top:186px;
  width: 150px;
  height: 100vh;
  min-height: 500px;
  background-color: #FFF;

  padding-top: 15px;
  padding-left: 50px;

  a.en {
    font: $fontsize5-en;
    text-decoration: none;
    color: $color3;
    line-height: 2em;
    letter-spacing: .5pt;
    &.here {
      color: $color2;
    }
    &:hover {
      color: $color2;
    }
  }
  a.en.txt_red{
    font: $fontsize5-en;
    text-decoration: none;
    color: #FF7B7B;
    line-height: 2em;
    letter-spacing: .5pt;
    &.here {
      color: #E80000;
    }
    &:hover {
      color: #E80000;
    }
  }
  a.en.txt_blue{
    font: $fontsize5-en;
    text-decoration: none;
    color: #7B84DB;
    line-height: 2em;
    letter-spacing: .5pt;
    &.here {
      color: #0A0EF0;
    }
    &:hover {
      color: #0A0EF0;
    }
  }

}
