<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="shortcut icon" href="./images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick/slick/slick-theme.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="./javascript/fademover.js"></script>
    <script type="text/javascript" src="./javascript/index.js"></script>
    <script type="text/javascript" src="./javascript/labview.js"></script>
    <script type="text/javascript" src="./javascript/slideshow.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick/slick/slick.min.js"></script>
    <title>Tokyo Metropolitan University Department of Industrial Art|Studio</title>
</head>

<body>
    <header id="global-head">
        <a href="https://industrial-art.sd.tmu.ac.jp/en/index.html">
            <h1>Tokyo Metropolitan University<br>Department of Industrial Art</h1>
        </a>
    </header>


    <div id="nav-toggle">
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <aside id="sidebar">
        <nav id="global-nav">
            <ul class="en">
                <li><a class="here" href="./index.html">Studio</a></li>
                <li><a href="./page-about.html">About</a></li>
                <li><a href="./page-faculty.html">Faculty</a></li>
                <li><a href="./page-access.html">Access</a></li>
                <li><a href="./page-links.html">Link</a></li>
                <li class="language"><a id="lang-ja" href="./index.html">JA</a><span>/</span><a class="here"
                        id="lang-en" href="./en/index.html">EN</a>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="wrapper">
        <div class="centering">
            <main>


                <section class="labview">
                    <section class="left">
                        <div class="title">
                            <div class="titleText">
                                <h2 class="ja">スタジオ名</h2>
                                <!--h3 class="en">Studio Name</h3>-->
                                <h4 class="ja">分野</h4>
                                <!--<h4 class="en">Core</h4>-->
                            </div>
                        </div>
                        <div class="viewer"></div>
                        <p class="info">スタジオ紹介</p>
                        <!--<p class="info-en">Studio Info</p>
            <h3 class="en">NEWS</h3>
            <ul class="news"></ul>-->
                    </section>
                    <section class="right">
                        <div class="boxView">
                            <a class="box tooltip" name="editorial" onclick="changeParam(this.name)">
                                <span class="tooltip-content"><span class="tooltip-text">
                                        <span class="tooltip-inner">Editorial <br>Design Studio</span>
                                    </span>
                                </span>
                            </a>
                            <a class="box tooltip" name="equipment" onclick="changeParam(this.name)"><span
                                    class="tooltip-content"><span class="tooltip-text"><span
                                            class="tooltip-inner">Equipment & Service<br>Design
                                            Studio</span></span></span></a><a class="box tooltip" name="ergonomics"
                                onclick="changeParam(this.name)"><span class="tooltip-content"><span
                                        class="tooltip-text"><span class="tooltip-inner">rgonomics<br>Design
                                            Studio</span></span></span></a><a class="box tooltip" name="interactive"
                                onclick="changeParam(this.name)"><span class="tooltip-content"><span
                                        class="tooltip-text"><span class="tooltip-inner">Interactive <br>Art Studio
                                        </span></span></span></a><a class="box tooltip" name="interface"
                                onclick="changeParam(this.name)"><span class="tooltip-content"><span
                                        class="tooltip-text"><span class="tooltip-inner">Interface<br>Design
                                            Studio</span></span></span></a><a class="box tooltip" name="interior"
                                onclick="changeParam(this.name)"><span class="tooltip-content"><span
                                        class="tooltip-text"><span class="tooltip-inner">Interior<br>Design
                                            Studio</br></span></span></a>
                        </div>
                        <div class="boxView"><a class="box tooltip" name="kinematograph"
                                onclick="changeParam(this.name)"><span class="tooltip-content"><span
                                        class="tooltip-text"><span class="tooltip-inner">Kinematograph<br>Design
                                            Studio</span></span></span></a><a class="box tooltip" name="network"
                                onclick="changeParam(this.name)"><span class="tooltip-content"><span
                                        class="tooltip-text"><span class="tooltip-inner">Network <br>Design
                                            Studio</br></span></span></a><a class="box tooltip" name="software"
                                onclick="changeParam(this.name)"><span class="tooltip-content"><span
                                        class="tooltip-text"><span class="tooltip-inner">Software <br>Design
                                            Studio</br></span></span></a><a class="box tooltip" name="spatial"
                                onclick="changeParam(this.name)"><span class="tooltip-content"><span
                                        class="tooltip-text"><span class="tooltip-inner">Spatial<br>Design
                                            Studio</br></span></span></a><a class="box tooltip" name="transportation"
                                onclick="changeParam(this.name)"><span class="tooltip-content"><span
                                        class="tooltip-text"><span class="tooltip-inner">Transportation <br>Design
                                            Studio</span></span></span></a><a class="box tooltip" name="visual"
                                onclick="changeParam(this.name)"><span class="tooltip-content"><span
                                        class="tooltip-text"><span
                                            class="tooltip-inner">Visual<br>Communication<br>Design
                                            studio</span></span></span></a>
                        </div>
                        <h3>Faculty</h3>
                    </section>

                    <div class="studio-list">
                        <h2>Other Studios</h2>
                        <div class="studios-container">

                            <div class="studio-item" id="editorial">
                                <img src="./images/studio-images/ed1.png" alt="editorial design studio">
                                <a href="page-labview.html?id=editorial">
                                    <section class="mask">
                                        <h3>Editorial</h3>
                                    </section>
                                </a>
                            </div>


                            <div class="studio-item" id="equipment">
                                <img src="./images/studio-images/es2.png" alt="equipment design studio">
                                <a href="page-labview.html?id=transportation">
                                    <section class="mask">
                                        <h3>Eequipment</h3>
                                    </section>
                                </a>
                            </div>


                            <div class="studio-item" id="ergonomics">

                                <img src="./images/studio-images/ergo1.jpg" alt="ergonomics design studio">
                                <a href="page-labview.html?id=ergonomics">
                                    <section class="mask">
                                        <h3>Ergonomics</h3>
                                    </section>
                                </a>
                            </div>


                            <div class="studio-item" id="interactive">

                                <img src="./images/studio-images/ia1.png" alt="interactive art studio">
                                <a href="page-labview.html?id=interactive">
                                    <section class="mask">
                                        <h3>Interactive Art</h3>
                                    </section>
                                </a>
                            </div>


                            <div class="studio-item" id="interface">
                                <img src="./images/studio-images/baba2.png" alt="interface design studio">
                                <a href="page-labview.html?id=interface">
                                    <section class="mask">
                                        <h3>Interface</h3>
                                    </section>
                                </a>
                            </div>

                            <div class="studio-item" id="interior">

                                <img src="./images/studio-images/id1.jpg" alt="interior design studio">
                                <a href="page-labview.html?id=interior">
                                    <section class="mask">
                                        <h3>Interior</h3>
                                    </section>
                                </a>
                            </div>


                            <div class="studio-item" id="kinematograph">

                                <img src="./images/studio-images/kd2.png" alt="kinematograph design studio">
                                <a href="page-labview.html?id=kinematograph">
                                    <section class="mask">
                                        <h3>Kinematograph</h3>
                                    </section>
                                </a>
                            </div>


                            <div class="studio-item" id="network">

                                <img src="./images/studio-images/nd1.png" alt="network design studio">
                                <a href="page-labview.html?id=network">
                                    <section class="mask">
                                        <h3>Network</h3>
                                    </section>
                                </a>
                            </div>

                            <div class="studio-item" id="software">
                                <img src="./images/studio-images/sd1.jpg" alt="software design studio">
                                <a href="page-labview.html?id=software">
                                    <section class="mask">
                                        <h3>Software</h3>
                                    </section>
                                </a>
                            </div>


                            <div class="studio-item" id="spatial">

                                <img src="./images/studio-images/spatial1.jpg" alt="spatial design studio">
                                <a href="page-labview.html?id=spatial">
                                    <section class="mask">
                                        <h3>Spatial</h3>
                                    </section>
                                </a>
                            </div>

                            <div class="studio-item" id="transportation">

                                <img src="./images/studio-images/td2.png" alt="transportation design studio">
                                <a href="page-labview.html?id=transportation">
                                    <section class="mask">
                                        <h3>Transportation</h3>
                                    </section>
                                </a>
                            </div>


                            <div class="studio-item" id="visual">
                                <img src="./images/studio-images/vc1.jpg" alt="visual communication design studio">
                                <a href="page-labview.html?id=visual">
                                    <section class="mask">
                                        <h3>Visual Communication</h3>
                                    </section>
                                </a>
                            </div>

                        </div>
                    </div>


                </section>

                </section>


            </main>

            <footer>
                <p>&copy; 2021 Tokyo Metropolitan University Department of Industrial Art</p>
            </footer>
        </div>
    </div>
    <section class="scroll-top"><img src="./images/page-top.svg" art="image">
        <p>PageTop</p>
    </section>

</body>

</html>