

html, body {
  margin: 0;
  padding: 0;
  
  font-family: 'Noto Sans', sans-serif;
}
canvas {
  display: block;
}
message{
  position:absolute;
  top:50%;
  left:50%;
  
  text-align:center;
  color:rgb(230, 230, 230);
  transform: translate(-50%, 70%);
}
message h1{
  margin:0px;
  padding:0px;
  font-size: 7em;
  line-height:100%;
}
message p{
  margin:0px;
  padding:0px;
  font-size:1em;
  line-height:150%;
}
message p.small{
  margin:0px;
  padding:0px;
  font-size:0.3em;
  
}
message p a{
  text-decoration:none;
  color:black;
  background:white;
}


div{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left:0px;
  /* content: attr(title);
  position: absolute;
  text-align:center;
  
  //transform: translate(-50%, 0%); */
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0,33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}