<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="shortcut icon" href="./images/favicon.ico">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="./javascript/fademover.js"></script>
  <script type="text/javascript" src="./javascript/index.js"></script>
  <title>東京都立大学システムデザイン学部インダストリアルアート学科|LINKS</title>
</head>

<body>
  <header id="global-head">
    <a href="https://industrial-art.sd.tmu.ac.jp/index.html">
      <h1>東京都立大学<br>インダストリアルアート学科/学域</h1>
    </a>
  </header>

  <div id="nav-toggle">
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <aside id="sidebar">
    <nav id="global-nav">
      <ul class="en">
        <li><a href="./index.html">Studio</a></li>
        <li><a href="./page-about.html">About</a></li>
        <li><a href="./page-faculty.html">Faculty</a></li>
        <li><a href="./page-access.html">Access</a></li>
        <li><a class="here" href="./page-links.html">Link</a></li>
        <li class="language"><a class="here" href="./page-links.html">JA</a><span>/</span><a
            href="./en/page-links.html">EN</a>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="wrapper">
    <div class="centering">
      <main>
        <h2 class="page-title">Link<span>関連リンク</span></h2>
        <section class="links">
          <section class="link">
            <section class="left"><a href="http://industrial-art.sd.tmu.ac.jp/exhibition2020/"><img
                  src="./images/link-images/iagw2020.png" alt="image"></a></section>
            <section class="right">
              <div class="linktitle">
                <a href="http://industrial-art.sd.tmu.ac.jp/exhibition2020/">
                  <h2>卒業・修了制作展2020</h2><img class="external-link" src="./images/prof-link.svg">
                </a>
              </div>
              <p class="location">首都大学東京　日野キャンパス</p>
              <p class="dates">開催期間 : 令和2年2月8日|土| - 2月10日|月| 11時30分-17時30分</p>
              <p class="about-exhibition">
                第11回目の開催となる今年のコンセプトは「骨」です。骨をつくり、肉をつけていくように、1,2年次に築いた基礎をもとにしてそれぞれ見出した研究分野における知識を深め、表現や技術を身につけてきました。ご来場される皆様に展示でしか味わえないたくさんの作品に触れていただき、一人一人がどのような肉付けをしてきたのかを感じていただけますと幸いです。
              </p>
            </section>
          </section>
          <section class="link">
            <section class="left"><a href="http://industrial-art.sd.tmu.ac.jp/exhibition2019/"><img
                  src="./images/link-images/iagw2019.png" alt="image"></a></section>
            <section class="right">
              <div class="linktitle">
                <a href="http://industrial-art.sd.tmu.ac.jp/exhibition2019/">
                  <h2>卒業・修了制作展2019</h2><img class="external-link" src="./images/prof-link.svg">
                </a>
              </div>
              <p class="location">首都大学東京　日野キャンパス</p>
              <p class="dates">開催期間 : 平成31年2月10日|日| - 2月12日|火| 10時-17時</p>
              <p class="about-exhibition">
                首都大学東京システムデザイン学部インダストリアルアート学科10年目の卒業制作展のコンセプトは「原点回帰」です。私たちがつくるこの集大成は、原点から積み重ねてきた日々の結果です。私たちの原点、現在、そして続いていく未来へ、どうか目を離さないでください。
              </p>
            </section>
          </section>
          <section class="link">
            <section class="left"><a href="https://ia2018.com/"><img src="./images/link-images/iagw2018.png"
                  alt="image"></a></section>
            <section class="right">
              <div class="linktitle">
                <a href="https://ia2018.com/">
                  <h2>卒業・修了制作展2018</h2><img class="external-link" src="./images/prof-link.svg">
                </a>
              </div>
              <p class="location">首都大学東京　日野キャンパス</p>
              <p class="dates">開催期間 : 平成30年2月10日|土| - 2月12日|月| 10時-17時</p>
              <p class="about-exhibition">
                今年のコンセプトは「Quest」です。私たちは大学での学びを「探求」と捉えました。続いている空間は私たちの進路を、進んだ先の光は「探求」の答えを表しています。また、全体を見渡すと「Quest」の頭文字である、Qという文字が浮かび上がります。まだ見ぬ景色、体験を探し求め学生たちが作り上げた、今までの集大成をぜひご覧ください。
              </p>
            </section>
          </section>
          <section class="link">
            <section class="left"><a href="https://tmusdia2017.github.io/iagw2017"><img
                  src="./images/link-images/iagw2017.png" alt="image"></a></section>
            <section class="right">
              <div class="linktitle">
                <a href="https://tmusdia2017.github.io/iagw2017">
                  <h2>卒業・修了制作展2017</h2><img class="external-link" src="./images/prof-link.svg">
                </a>
              </div>
              <p class="location">首都大学東京　日野キャンパス</p>
              <p class="dates">開催期間 : 平成29年2月4日|土| - 2月6日|月| 10時-17時</p>
              <p class="about-exhibition">
                今年のコンセプトは｢Piece｣です。インダストリアルアートコースは６つのメディアート分野と６つのプロダクトデザイン分野の１２研究分野から構成され、複合的に関わりあっています。培った知識や経験から様々な形のピースが組み合わさることで、それぞれの学生がもつカタチと成り、この先も拡がり続けてゆくことと思います。ここから新たな一歩を踏み出す学生たちの作品を、是非ご覧ください。
              </p>
            </section>
          </section>
      </main>
      <footer>
        <p>&copy; 2021 Tokyo Metropolitan University Department of Industrial Art</p>
      </footer>
    </div>
  </div>

  <section class="scroll-top"><img src="./images/page-top.svg" art="image">
    <p>PageTop</p>
  </section>

</body>

</html>