<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="shortcut icon" href="./images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick/slick/slick-theme.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="./javascript/fademover.js"></script>
  <script type="text/javascript" src="./javascript/index.js"></script>
  <script type="text/javascript" src="./javascript/labview.js"></script>
  <script type="text/javascript" src="./javascript/slideshow.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick/slick/slick.min.js"></script>
  <title>東京都立大学システムデザイン学部インダストリアルアート学科 Department of Industrial Art LABVIEW</title>
</head>

<body>
  <main>
    <header><a href="index.html"><img src="./images/main-logo.svg" art="image"></a>
      <form id="cse-search-box" action="http://google.com/cse">
        <input type="hidden" name="cx" value="007245914538993224667:bwjsywsj34w">
        <input type="hidden" name="ie" value="UTF-8">
        <input class="submitbtn" type="submit" name="sa" value="">
        <input class="textfield" type="text" name="q" placeholder="キーワードから検索">
      </form>
    </header>
    <section class="sidebar">
      <ul>
        <li><a class="en" href="index.html">Studio</a></li>
        <li><a class="en" href="page-about.html">About</a></li>
        <li><a class="en" href="page-faculty.html">Faculty</a></li>
        <li><a class="en" href="page-access.html">Access</a></li>
        <li><a class="en" href="page-links.html">Link</a></li>
      </ul>
    </section>
    <section class="contents">
      <section class="labview">
        <section class="left">
          <div class="title">
            <div class="titleText">
              <h2 class="ja">スタジオ名</h2>
              <h3 class="en">Studio Name</h3>
              <h4 class="ja">分野</h4>
              <h4 class="en">Core</h4>
            </div>
          </div>
          <div class="viewer"></div>
          <p class="info-ja">スタジオ紹介</p>
          <p class="info-en">Studio Info</p>
          <!--<h3 class="en">NEWS</h3>-->
          <ul class="news"></ul>
        </section>
        <section class="right">
          <div class="boxView"><a class="box tooltip" name="editorial" onclick="changeParam(this.name)"><span
                class="tooltip-content"><span class="tooltip-text"><span
                    class="tooltip-inner">エディティングスタジオ</span></span></span></a><a class="box tooltip" name="equipment"
              onclick="changeParam(this.name)"><span class="tooltip-content"><span class="tooltip-text"><span
                    class="tooltip-inner">製品・サービス<br>デザインスタジオ</span></span></span></a><a class="box tooltip"
              name="ergonomics" onclick="changeParam(this.name)"><span class="tooltip-content"><span
                  class="tooltip-text"><span class="tooltip-inner">エルゴノミック<br>デザインスタジオ</span></span></span></a><a
              class="box tooltip" name="interactive" onclick="changeParam(this.name)"><span
                class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner">インタラクティブ<br>アートスタジオ
                  </span></span></span></a><a class="box tooltip" name="interface"
              onclick="changeParam(this.name)"><span class="tooltip-content"><span class="tooltip-text"><span
                    class="tooltip-inner">インターフェース<br>デザインスタジオ</span></span></span></a><a class="box tooltip"
              name="interior" onclick="changeParam(this.name)"><span class="tooltip-content"><span
                  class="tooltip-text"><span class="tooltip-inner">インテリア<br>デザインスタジオ</span></span></span></a></div>
          <div class="boxView"><a class="box tooltip" name="kinematograph" onclick="changeParam(this.name)"><span
                class="tooltip-content"><span class="tooltip-text"><span
                    class="tooltip-inner">映像デザインスタジオ</span></span></span></a><a class="box tooltip" name="network"
              onclick="changeParam(this.name)"><span class="tooltip-content"><span class="tooltip-text"><span
                    class="tooltip-inner">ネットワーク<br>デザインスタジオ</span></span></span></a><a class="box tooltip"
              name="software" onclick="changeParam(this.name)"><span class="tooltip-content"><span
                  class="tooltip-text"><span class="tooltip-inner">ソフトウェア<br>デザインスタジオ</span></span></span></a><a
              class="box tooltip" name="spatial" onclick="changeParam(this.name)"><span class="tooltip-content"><span
                  class="tooltip-text"><span class="tooltip-inner">空間デザインスタジオ</span></span></span></a><a
              class="box tooltip" name="transportation" onclick="changeParam(this.name)"><span
                class="tooltip-content"><span class="tooltip-text"><span
                    class="tooltip-inner">トランスポーテーション<br>デザインスタジオ</span></span></span></a><a class="box tooltip"
              name="visual" onclick="changeParam(this.name)"><span class="tooltip-content"><span
                  class="tooltip-text"><span
                    class="tooltip-inner">ヴィジュアル<br>コミュニケーション<br>デザインスタジオ</span></span></span></a></div>
          <h3>担当教員</h3>
        </section>
      </section>
      <footer>
        <section class="en">
          <p class="ja">東京都立大学 システムデザイン学部／研究科</p>
          <p class="sd">Faculty & Graduate School of Systems Design</p><a class="sd"
            href="https://www.tmu.ac.jp/">Copyright ©2018 Tokyo Metropolitan University. All rights reserved.</a>
        </section>
      </footer>
    </section>

  </main>
  <section class="scroll-top"><img src="./images/page-top.svg" art="image">
    <p class="en">PageTop</p>
  </section>
  <script type="text/javascript">
    console.log(location.pathname);
    $('.sidebar li a').each(function () {
      var href = $(this).attr('href');
      if (location.href.match(href)) {
        $(this).addClass('here');
      } else {
        $(this).removeClass('here');
      }
    });
    if (location.pathname == '/page-labview.html') {
      $('.sidebar li a').first().addClass('here');
    } else if (location.pathname == '/') {
      $('.sidebar li a').first().addClass('here');
    }
  </script>
</body>

</html>