<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="shortcut icon" href="./images/favicon.ico">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="./javascript/fademover.js"></script>
  <script type="text/javascript" src="./javascript/index.js"></script>
  <title>東京都立大学システムデザイン学部インダストリアルアート学科|ACCESS</title>
</head>

<body>
  <header id="global-head">
    <a href="https://industrial-art.sd.tmu.ac.jp/index.html">
      <h1>東京都立大学<br>インダストリアルアート学科/学域</h1>
    </a>
  </header>

  <div id="nav-toggle">
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <aside id="sidebar">
    <nav id="global-nav">
      <ul class="en">
        <li><a href="./index.html">Studio</a></li>
        <li><a href="./page-about.html">About</a></li>
        <li><a href="./page-faculty.html">Faculty</a></li>
        <li><a class="here" href="./page-access.html">Access</a></li>
        <li><a href="./page-links.html">Link</a></li>
        <li class="language"><a class="here" href="./page-access.html">JA</a><span>/</span><a
            href="./en/page-access.html">EN</a>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="wrapper">
    <div class="centering">
      <main>
        <h2 class="page-title">Access<span>キャンパスへのアクセス</span></h2>
        <section class="access">

          <section class="access-left">
            <iframe class="googlemap"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.626084338078!2d139.36427921568225!3d35.66158303865601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018e2086b789781%3A0x74b7f28cd003b142!2z5p2x5Lqs6YO956uL5aSn5a2mIOaXpemHjuOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2sjp!4v1626451911552!5m2!1sja!2sjp"
              width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

          </section>
          <section class="access-right">
            <h3>所在地</h3>
            <p>〒 191-0065 東京都日野市旭が丘6-6</p>
            <p>TEL 042-585-8606</p>
            <p>6-6 Asahigaoka, Hino-shi, Tokyo, Japan 191-0065</p>
            <h3>アクセス</h3>
            <p>JR中央線「豊田」駅（北口）から徒歩約20分
              <br>または京王バス「平山工業団地循環」乗車、「旭が丘中央公園」下車徒歩約5分
            </p>
            <p>JR中央線「八王子」駅（北口）、京王線「京王八王子」駅（西口）から京王バス「日野駅行き」 <br>または「豊田駅北口行き」乗車、「大和田坂上」下車徒歩約10分</p>
            <p>JR八高線「北八王子」駅から徒歩約15分</p>
          </section>
        </section>
      </main>

      <footer>
        <p>&copy; 2021 Tokyo Metropolitan University Department of Industrial Art</p>
      </footer>
    </div>
  </div>
  <section class="scroll-top"><img src="./images/page-top.svg" art="image">
    <p>PageTop</p>
  </section>

  <section class="scroll-top"><img src="./images/page-top.svg" art="image">
    <p class="en">PageTop</p>
  </section>
  <script type="text/javascript">
    console.log(location.pathname);
    $('.sidebar li a').each(function () {
      var href = $(this).attr('href');
      if (location.href.match(href)) {
        $(this).addClass('here');
      } else {
        $(this).removeClass('here');
      }
    });
    if (location.pathname == '/page-labview.html') {
      $('.sidebar li a').first().addClass('here');
    } else if (location.pathname == '/') {
      $('.sidebar li a').first().addClass('here');
    }
  </script>
</body>

</html>