/*以下、①背景色など*/
.line-bc {
    padding: 20px 10px;
    max-width: 850px;
    margin: 15px auto;
    text-align: right;
    font-size: 14px;
    background: #7da4cd;

  }

  /*以下、②左側のコメント*/
  .balloon6 {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
  }

  .balloon6 .faceicon {
    float: left;
    margin-right: -50px;
    width: 80px;
  }

  .balloon6 .faceicon img{
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .balloon6 .chatting {
    width: 100%;
    text-align: left;
  }
  .says {
    display: inline-block;
    position: relative;
    margin: 0 0 0 50px;
    padding: 10px;
    max-width: 350px;
    border-radius: 12px;
    background: #edf1ee;
  }

  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  .says p {
    margin: 0;
    padding: 0;
  }

  /*以下、③右側の緑コメント*/
  .mycomment {
    margin: 10px 0;
  }
  .mycomment p {
    text-align: left;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 350px;
    border-radius: 12px;
    background: #30e852;
    font-size: 15px:
  }

  .mycomment p:after {
    content: "";
    position: absolute;
    top: 3px;
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #30e852;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
