section.about
  section
    section.headline
      h2.ja 工学の基盤と文化的基盤の統合から生まれる新しい研究
      h2.en New research born from integrating engineering and cultural fundamentals
    section.outer
      section.left
        img(src="./images/about-images/newreserch.png" alt="image")
      section.right
        p.ja システムデザイン研究科インダストリアルアート学域では、これまでの工学的かつ文化的な基盤をひとつにすることで、現代社会の新たなデザイン·アート領域の研究者や創造·研究·実践の担い手の育成を、「プロダクトデザイン」と「メディア創生」の2つの研究分野から図っています。「プロダクトデザイン」は、交通機関、家電製品、工業製品、家具、住空間、公共空間などのデザインや人間工学など、人と環境の双方からのアプローチでものづくりを展開しています。「メディア創生」は、グラフィック、先端メディア、テクノロジーおよびデザイン、アートにかかわる革新的なモノやコトを創出しています。
        p.en What is aim of the Department of lndustrial Art? To integrate engineering and design, bring together the fundamentals of technology and culture, to pursue the leading edge where skilled craftsmanship meets information technology refining both technology and sensibility, and resulting in new value creation.
  section.cores
    section.headline
      h2.ja 2つのコア・分野、12のスタジオによる構成
      h2.en 2 Cores, 12 Studios
    section.container
      p.ja インダストリアルアート学科・学域は、「プロダクトデザイン」と「メディア創生」の2つのコア・分野を柱に、12のスタジオで構成されています。各スタジオが扱う専門領域は新しいものづくりと情報メディアにまたがって多様に連携しながら、それぞれが最先端の研究を推進し、新しい価値の創造を展開していきます。
      p.en The Department of Industrial Art has two cores, Product Design, and Media Creation, and 12 studios. Each studio's areas of specialization involve skilled crafts and information media, and each liaise differently, to explore the latest in new value creation.
  section.needs
    section.headline
      h2.ja 現代社会が求める幅広い知見をもったデザイナーの育成
      h2.en Society today needs designers ready to think big
    section.container
      p.ja 本学科·学域は、理工系学部·研究科の中にあるデザインコースとして、またプロダクト系とメディア系の幅広いデザイン分野が共存する学科として世界的にも非常にユニークな存在といえます。この特色を最大限活かし、美術系大学など他大学のデザイン系学科とは一線を画した独自の人材を育成します。デザインとはただ形を作るにとどまらず、コンセプト提案、しくみ構築機能の調整統合など、新しいモノやコトを生み出す作業における上流段階での重要な役割を担うものであるとの位置づけから、デザイナーには専門職的なアプローチのみならず、ものづくりの指揮官の役割が社会から期待されるようになっています。このような社会の要請に応えられる新しいタイプのデザイナーおよびそれに関わる研究者の育成を目指します。そのために、学生には専門分野だけにとどまらず、学科の特色を活かし、理工系から人文·社会系まで、プロダクト系からメディア系まで、幅広い領域に対する興味と知見を有し、それらを総動員して新しいタイプのデザインを創生する人材を育成します。教育体制は、学部の4年間でさまざまな幅広い分野の学問や知見を吸収し、大学院でその幅の広さを活かしながら専門性を高めて深化させていきます。
      p.en We are proud of the Department of Industrial Art, Faculty and Graduate School of System Design's unique pairing of product-related and media-related design disciplines within the Metropolitan University's science and engineering departments. Design is not just about creating form, but it's rather about playing an important role in the creation of new products and trends, which the creation is of the concept, it's architecture, or the production and integration of its application. Designers today must not only have specialist knowledge, but they must also be able to take initiative To achieve this, we encourage students to take interest in not only their own specialization, but also the wider world of science and technology, culture and social sciences, popular products and media, and utilize our facilities to explore new types of design by drawing on all of them. Our curriculum is based on : 4 years of departmental study followed by 2 years of hands-on professional specialization.
  section.course
    section.headline
      h2.ja 履修モデル
      h2.en Course model
    section.container
      img(src="./images/about-images/courcemodel2_3-01.png" alt="image")
      img(src="./images/about-images/courcemodel2_3-02.png" alt="image")
