section.access
  section.access-left
    div
      img(src="./images/map-images/map.svg" alt="map")
  section.access-right
    h3 所在地
    p 〒 191-0065 東京都日野市旭が丘6-6
    p TEL 042-585-8606
    p 6-6 Asahigaoka, Hino-shi, Tokyo, Japan 191-0065
    h3 アクセス
    p JR中央線「豊田」駅（北口）から徒歩約20分。または京王バス「平山工業団地循環」乗車、「旭が丘中央公園」下車徒歩約5分
    p JR中央線「八王子」駅（北口）、京王線「京王八王子」駅（西口）から京王バス「日野駅行き」または「豊田駅北口行き」乗車、「大和田坂上」下車徒歩約10分
    p JR八高線「北八王子」駅から徒歩約15分
    a(href="http://maps.google.com/maps?saddr=現在地&daddr=首都大学東京 日野キャンパス&dirflg=w" target="_blank")
      div.triangle
        p Google
