a(href= 'index.html')
  //- h1
  //-   |首都大学東京
  //-   br
  //-   |インダストリアルアート学科
  //-   br
  //-   span.en INDUSTRIAL ART COURSE
  img(src= './images/main-logo.svg' art='image')


form#cse-search-box(action='http://google.com/cse')
  input(type="hidden" name="cx" value="007245914538993224667:bwjsywsj34w")
  input(type="hidden" name="ie" value="UTF-8")
  input.submitbtn(type="submit" name="sa" value="")
  input.textfield(type="text" name="q" placeholder="キーワードから検索")
