section.labview
  section.left
    div.title
      div.titleText
        h2.ja スタジオ名
        h3.en Studio Name
        h4.ja 分野
        h4.en Core
    div.viewer
    p.info-ja スタジオ紹介
    p.info-en Studio Info
    h3.en NEWS
    ul.news
  section.right
    div.boxView
      a.box.tooltip(name='editorial' onclick='changeParam(this.name)')
          span.tooltip-content
            span.tooltip-text
              span.tooltip-inner エディティングスタジオ
      a.box.tooltip(name='equipment' onclick='changeParam(this.name)')
        span.tooltip-content
          span.tooltip-text
            span.tooltip-inner 製品・サービス<br>デザインスタジオ
      a.box.tooltip(name='ergonomics' onclick='changeParam(this.name)')
        span.tooltip-content
          span.tooltip-text
            span.tooltip-inner エルゴノミック<br>デザインスタジオ
      a.box.tooltip(name='interactive' onclick='changeParam(this.name)')
        span.tooltip-content
          span.tooltip-text
            span.tooltip-inner インタラクティブ<br>アートスタジオ    
      a.box.tooltip(name='interface' onclick='changeParam(this.name)')
        span.tooltip-content
          span.tooltip-text
            span.tooltip-inner インターフェース<br>デザインスタジオ
      a.box.tooltip(name='interior' onclick='changeParam(this.name)')
        span.tooltip-content
          span.tooltip-text
            span.tooltip-inner インテリア<br>デザインスタジオ
    div.boxView
      a.box.tooltip(name='kinematograph' onclick='changeParam(this.name)')
        span.tooltip-content
          span.tooltip-text
            span.tooltip-inner 映像デザインスタジオ
      a.box.tooltip(name='network' onclick='changeParam(this.name)')
        span.tooltip-content
          span.tooltip-text
            span.tooltip-inner ネットワーク<br>デザインスタジオ
      a.box.tooltip(name='software' onclick='changeParam(this.name)')
        span.tooltip-content
          span.tooltip-text
            span.tooltip-inner ソフトウェア<br>デザインスタジオ
      a.box.tooltip(name='spatial' onclick='changeParam(this.name)')
        span.tooltip-content
          span.tooltip-text
            span.tooltip-inner 空間デザインスタジオ
      a.box.tooltip(name='transportation' onclick='changeParam(this.name)')
        span.tooltip-content
          span.tooltip-text
            span.tooltip-inner トランスポーテーション<br>デザインスタジオ
      a.box.tooltip(name='visual' onclick='changeParam(this.name)')
        span.tooltip-content
          span.tooltip-text
            span.tooltip-inner ヴィジュアル<br>コミュニケーション<br>デザインスタジオ
    h3 担当教員
