doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="style/style.css")
    link(rel="shortcut icon" href="./images/favicon.ico")
    block css
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(type='text/javascript' src='./javascript/fademover.js')
    script(type='text/javascript' src='./javascript/index.js')
    block script
    block title
      title タイトルが空です
  body
    main
      header
        include _header.pug
      section.sidebar
          include _sidebar.pug      
      section.contents
        block content
          h1 コンテンツが空です
        footer
          include _footer.pug
    include _scroll-top.pug
    script(type='text/javascript').
      console.log(location.pathname);
      $('.sidebar li a').each(function(){
        var href = $(this).attr('href');
        if(location.href.match(href)) {
          $(this).addClass('here');
        } else {
          $(this).removeClass('here');
        }
      });
      if(location.pathname == '/page-labview.html'){
        $('.sidebar li a').first().addClass('here');
      }else if(location.pathname == '/'){
        $('.sidebar li a').first().addClass('here');
      }
