

ul
  li
    a.en(href="index.html") Studio
  li
    a.en(href="page-about.html") About
  li
    a.en(href="page-faculty.html") Faculty
  li
    a.en(href="page-access.html") Access
  li
    a.en(href="page-links.html") Link
  
