
-
  var studios = [
    {
      'studioID':'editorial',
      'studioPortraitURL':'./images/studio-images/ed1.png',
      'studioName': 'エディティングスタジオ',
      'studioNameEn': 'Editorial <br>Design Studio'
    },{
      'studioID':'equipment',
      'studioPortraitURL':'./images/studio-images/es2.png',
      'studioName': '製品・サービスデザインスタジオ',
      'studioNameEn': 'Equipment & Service<br>Design Studio'
    },{
      'studioID':'ergonomics',
      'studioPortraitURL':'./images/studio-images/ergo1.jpg',
      'studioName': 'エルゴノミックデザインスタジオ',
      'studioNameEn': 'Ergonomics<br>Design Studio'
    },{
      'studioID':'interactive',
      'studioPortraitURL':'./images/studio-images/ia1.png',
      'studioName': 'インタラクティブアートスタジオ',
      'studioNameEn': 'Interactive <br>Art Studio'
    },{
      'studioID':'interface',
      'studioPortraitURL':'./images/studio-images/baba2.png',
      'studioName': 'インタフェースデザインスタジオ',
      'studioNameEn': 'Interface<br>Design Studio'
    },{
      'studioID':'interior',
      'studioPortraitURL':'./images/studio-images/id1.jpg',
      'studioName': 'インテリアデザインスタジオ',
      'studioNameEn': 'Interior<br>Design Studio'
    },{
      'studioID':'kinematograph',
      'studioPortraitURL':'./images/studio-images/kd2.png',
      'studioName': '映像デザインスタジオ',
      'studioNameEn': 'Kinematograph<br>Design Studio'
    },{
    'studioID':'network',
    'studioPortraitURL':'./images/studio-images/nd1.png',
    'studioName': 'ネットワークデザインスタジオ',
    'studioNameEn': 'Network Design Studio'
    },{
      'studioID':'software',
      'studioPortraitURL':'./images/studio-images/sd1.jpg',
      'studioName': 'ソフトウェアデザインスタジオ',
      'studioNameEn': 'Software <br>Design Studio'
    },{
      'studioID':'spatial',
      'studioPortraitURL':'./images/studio-images/spatial1.jpg',
      'studioName': '空間デザインスタジオ',
      'studioNameEn': 'Spatial<br>Design Studio'
    },{
      'studioID':'transportation',
      'studioPortraitURL':'./images/studio-images/td2.png',
      'studioName': 'トランスポーテーション<br>デザインスタジオ',
      'studioNameEn': 'Transportation <br>Design Studio'
    },{
      'studioID':'visual',
      'studioPortraitURL':'./images/studio-images/vc1.jpg',
      'studioName': 'ヴィジュアルコミュニケーション<br>デザインスタジオ',
      'studioNameEn': 'Visual<br>Communication<br>Design studio'
    }
  ]

section.studios
  - for(var i = 0; i < studios.length; i++)
    section.studio
      div
        img(src= studios[i]['studioPortraitURL'] alt="portrait")
        section.mask
          p !{studios[i]['studioNameEn']}
          div
          a(href= 'page-labview.html' + '?id=' + studios[i]['studioID']) Read More
      h1
        a(href= 'page-labview.html' + '?id=' + studios[i]['studioID']) !{studios[i]['studioName']}
