extends _layout.pug

block script
  script(type='text/javascript' src='./javascript/studio.js')
block title
  title 東京都立大学システムデザイン学部インダストリアルアート学科 Department of Industrial Art
block content
  include _studio.pug
