

ul
  li
    a.en(href="index.html") Studio
  li
    a.en(href="page-about.html") About
  li
    a.en(href="page-faculty.html") Faculty
  li
    a.en(href="page-access.html") Access
  li
    a.en(href="page-links.html") Link
  li
    a.en(href="http://industrial-art.sd.tmu.ac.jp/sdf2020/").txt_blue SD Forum
